<%# accepts: title: String, items: Array of hashes with keys :header and :content %>

<div class="accordion" data-controller="accordion">
  <h2 class="accordion-title"><%= title %></h2>
  <div class="accordion-content-wrapper">
    <% items.each_with_index do |item, index| %>
      <div class="accordion-content">
        <% if item[:date] %>
          <% month, day, year = item[:date].split %>
          <div class="accordion-date">
            <p class="date-month"><%= month %></p>
            <p class="date-day"><%= day.gsub(',', '') %></p>
            <p class="date-year"><%= year %></p>
          </div>
        <% end %>

        <div class="accordion-content-inner">
          <h4 class="accordion-item-header" id="<%= index %>" data-action="click->accordion#toggle">
            <%= item[:header] %>
            <i class="fa-solid fa-chevron-down accordion-chevron" data-accordion-target="chevron"></i>
          </h4>

          <div class="accordion-panel" data-accordion-target="panel">
            <%= simple_format(item[:content]) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
