<div class="devise-container">
  <h2 class="page-title">Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="devise-form">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="actions">
        <%= render "components/button", text: 'Resend unlock instructions', path: unlock_path(resource_name), variant: 'primary', type: 'submit' %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
    </div>
</div>
