<div class="home-page-container">

  <%= render "components/banner",
    title: "Made Locally, With Local Ingredients",
    content: ("Our vinaigrettes are made with the freshest ingredients from local farms. We are proud to support our\\
    local community and provide you with the best products possible.").gsub("\\\n", " "),
    button_text: "Discover",
    button_path: products_path
  %>

  <%= render "components/featured_retailers",
    title: "Find Us At These Retailers",
    retailers: [
      { name: "Save On Foods", image: "save_on_foods.png", alt_text: "Save On Foods Logo" },
      { name: "IGA", image: "iga.png", alt_text: "IGA Logo" },
      { name: "Fresh St. Market", image: "fresh_street_market.png", alt_text: "Fresh St. Market Logo" },
      { name: "Sun Given Foods", image: "sun_given_foods.png", alt_text: "Sun Given Foods Logo" },
      { name: "Red Barn Market", image: "red_barn_market.png", alt_text: "Red Barn Market Logo" },
    ]
  %>

  <%= render "components/products_carousel",
    title: "Our Vinaigrettes",
    products: @products
  %>

  <%= render "components/icons_section",
    icons: [{
      image: "no_added_sugar.svg",
      alt_text: "no added sugar",
      title: "No Added Sugar",
      slash: true
    },
    {
      image: "vegan.svg",
      alt_text: "vegan",
      title: "Vegan"
    },
    {
      image: "no_preservatives.svg",
      alt_text: "no preservatives",
      title: "No Preservatives",
      slash: true
    },
    {
      image: "gluten_free.svg",
      alt_text: "gluten free",
      title: "Gluten Free",
      slash: true
    },
    {
      image: "peanut_free.svg",
      alt_text: "peanut free",
      title: "Peanut Free",
      slash: true
    }]
  %>

  <div class="page-container">
    <%= render "components/text_with_image",
      title: "Small Batches, Big Flavor",
      content: "Our vinaigrettes are made in small batches to ensure the highest quality and flavor. We take pride in our craft and are dedicated to providing you with the best products possible.",
      image: "market.jpg",
      image_alt: "Our Story Image",
      reverse: false,
      buttons: [{
        text: "Learn More",
        path: about_path,
        variant: "primary"
      }]
    %>
  </div>
</div>
