<div class="cart" id="<%= dom_id cart %>">
  <% if @cart.products.empty? %>
    <p>Your cart is empty.</p>
    <%= link_to "Continue shopping", products_path, class: "btn btn-primary" %>
  <% else %>

    <%= form_with url: update_cart_path, method: :patch do |form| %>
      <div class=cart-grid>
        <div class=cart-grid-headers>
          <h4 class="cart-grid-headers-product">Product</h4>
          <h4 class="cart-grid-headers-price">Price</h4>
          <h4 class="cart-grid-headers-quantity">Quantity</h4>
          <h4 class="cart-grid-headers-total">Total</h4>
        </div>

        <% @cart.cart_items.uniq { |item| [item.product.id, item.contents] }.each do |item| %>
          <% quantity = @quantities[[item.product.id, item.contents]] %>
          <div class=cart-grid-product>
            <div class="cart-grid-item"><%= image_tag item.product.image, alt: item.product.name, class: "cart-item-image" %></div>
            <div class="cart-grid-item"><%= link_to item.product.name, product_path(item) %></div>
            <div class="cart-grid-item"><%= number_to_currency(item.product.price) %></div>
            <div class="cart-grid-item"><%= render "components/quantity_selector", item: item, form: form, label: false, value: quantity %></div>
            <div class="cart-grid-item"><%= number_to_currency(item.product.price * quantity) %></div>
            <div class="cart-grid-item">
              <%= link_to remove_from_cart_path(item.product, contents: item.contents), data: {turbo_method: :delete}, class: "btn-delete" do %>
                <i class="fa-solid fa-x"></i>
              <% end %>
            </div>

            <% if item.contents %>
              <ul class="cart-product-contents-list">
                <h5>Contents:</h5>
                <% item.contents.each do |prod_name, prod_info| %>
                  <li><%= "#{prod_name} x #{prod_info['quantity']}" %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>

        <div class="cart-grid-total">
          <div class="cart-grid-total-label">
            <h4>Subtotal:</h4>
            <p>Taxes and shipping costs calculated at payment</p>
          </div>
          <div class="cart-grid-total-value">
            <h4><%= number_to_currency(@cart.total_price) %></h4>
          </div>
        </div>
      </div>
      <div class="buttons-container">
        <div class="cart-buttons">
          <%= link_to "Continue shopping", products_path, class: "btn btn-secondary" %>
          <%= form.submit 'Update cart', class: 'btn btn-secondary' %>
          <%= link_to "Empty Cart", cart_path, data: {turbo_method: :delete}, class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
    <div class="buttons-container">
      <%= button_to "Checkout", checkouts_path(@cart.id), method: :post, data: {turbo: false}, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
