<div class="page-container">
  <div class="product-show">
    <div class="product-show-image-wrapper">
      <%= image_tag @product.image, alt: @product.name, class: 'product-show-image' %>
    </div>

    <div class="product-show-content-wrapper">
      <div class="product-show-content">
        <div class="product-show-info">
          <h1><%= @product.name %></h1>
          <p class="price"><%= number_to_currency(@product.price) %></p>
          <p><%= @product.description %></p>
        </div>

      <%= form_with url: add_to_cart_path, method: :post do |form| %>
        <div class="add-to-cart-wrapper">
          <%= form.hidden_field :product_id, value: @product.id %>
          <%= render 'components/quantity_selector', form: form, item: @product %>
          <%= form.submit 'Add to cart', class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
