<!DOCTYPE html>
<html>
  <head>
    <title>Wineland</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/a974094b24.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "shared/flash", notice: %>
    <p class="alert" style="color: red"><%= alert %></p>

    <%= render 'components/navbar',
      nav_items: [
        { link_text: "Home", link_path: root_path },
        { link_text: "About", link_path: about_path },
        { link_text: "Online Store", link_path: products_path },
        { link_text: "Markets & Shows", link_path: markets_path },
        { link_text: "Retailers", link_path: retailers_path }
      ]
    %>
    <%= yield %>
    <%= render "components/footer",
      links: [
        { link_text: "About Us", link_path: about_path },
        { link_text: "Contact Us", link_path: new_contact_path },
        { link_text: "Retailers", link_path: retailers_path },
        { link_text: "FAQ", link_path: faq_path },
        { link_text: "Privacy Policy", link_path: privacy_path },
        { link_text: "Terms of Sale & Delivery", link_path: tos_path }
      ]
    %>
  </body>
</html>
